//COLORS

$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-white: #F5F4FA;
$color-light-black: #212121;
$color-gray-blue: #2F303A;
$color-gray: #757575;
$color-linear-gradient: rgba(47, 48, 58, 0.4);
$color-blue: #2196F3;
$color-light-gray-border: #AFB1B8;

//FONT-SIZE
$fz-14: 14px;
$fz-16: 16px;
$fz-26: 26px;
$fz-36: 36px;
$fz-44: 44px;

//FONT-WEIGHT
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;


